* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Karla, sans-serif;
}

.App {
  width: 80vh;
  background-image: linear-gradient(to right, #672280, #A626D3);
}

header {
  display: flex;
  align-items: center;
  padding: 30px 50px;
  color: white;
}

.header--image {
  width: 45px;
}

.header--title {
  margin-left: 10px;
  letter-spacing: -3px;
  font-size: 1.95rem;
}

.header--project {
  font-family: Inter, sans-serif;
  margin-left: auto;
  font-weight: 500;
}
